.dialog_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    /*width: 60%;*/
    max-width: 900px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 60px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog_content {
    display: flex;
    gap: 60px;
}

.movie_poster {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.movie_details {
    flex-grow: 1;
}

.movie_title {
    color: #00cccc;
    margin-top: 0;
    font-size: 1.8em;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 1em;
}

input[type="date"] {
    color: black;
}

textarea {
    height: 60px;
}

.movie_actions {
    margin-top: 40px;
    text-align: center;
}

.movie_actions a {
    text-decoration: none;
    color: white;
    background-color: #ffa500;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.movie_actions a:hover {
    background-color: #e69500;
}

.close_button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.close_button:hover {
    background-color: #c0392b;
}
