.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Chia thành 3 cột có kích thước bằng nhau */
    gap: 20px; /* Khoảng cách giữa các cột và hàng */
    padding: 20px;
}

.movie-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    margin-bottom: 20px;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 15px;
    text-align: center;
}

.movie-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.movie-details p {
    font-size: 14px;
    margin-bottom: 5px;
}
