.container {
    display: flex;
    height: 100vh;
    background-color: #0b1e36;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 170px;
    background-color: #161b22;
    padding: 20px;
    border-right: 1px solid #30363d;
}

.sidebarHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

.sidebarMenu {
    margin-top: 60px;
    list-style: none;
    padding: 0;
}

.sidebarMenu li {
    margin-bottom: 25px;
    font-size: 16px;
    cursor: pointer;
}

.sidebarMenu li:hover,
.active {
    color: #58a6ff;
}

.mainContent {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #30363d;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profileHeader h2 {
    margin: 0;
    font-size: 24px;
}

.editButton {
    background-color: #238636;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #2ea043;
}

.profileDetails {
    display: flex;
    gap: 40px;
}

.profilePicture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileInfo label {
    margin-top: 10px;
    font-weight: bold;
}

.profileInfo input,
.profileInfo textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    background-color: #142a4f;
    border: 1px solid #30363d;
    border-radius: 5px;
    color: #c9d1d9;
}

.profileInfo textarea {
    resize: vertical;
    height: 100px;
}
