/* MovieTable.css */

.movie-container {
    padding: 20px;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.movie-header h1 {
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
}

.add-button {
    padding: 5px 15px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-button:hover {
    background-color: #16a085;
}

.movie-table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}

.movie-table th, .movie-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.movie-table th {
    background-color: #34495e;
    color: white;
}

.movie-table td {
    color: #2c3e50;
}

.movie-table tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-button {
    background-color: #3498db;
    color: white;
}

.edit-button:hover {
    background-color: #2980b9;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
}

.delete-button:hover {
    background-color: #c0392b;
}
